<section class="sec-footer">

  <div class="l-inner clearfix">

    <div class="logo-blk ">

      <p> <%= link_to ' <i class="bx bx-buildings"></i>
      <span class="logo_name">RHotel</span>'.html_safe, root_path  %></p>
        
    </div>

    <div class="footer-nav-blk clearfix">

      <ul>
        <li><i class="bx bx-map"></i>31 Beach Road, Kawthaung</li>
        <li><a href="tel:09123456789" target="_blank"><i class="bx bx-phone-call"></i>+95 123 456 789</a></li>
        <li><a href="mailto:yinmyatnoelwin1@gmail.com" target="_blank"><i class="bx bx-envelope"></i>supportus@gmail.com</a></li>
      </ul>

    </div>

    <div class="media-logo-blk">

      <h4>About the hotel</h4>

      <p>Located in the main area of Kawthaung. With its <br>convenient location, the property offers easy access to <br> the city’s must-see destinations.
      </p>
      
      <li><%= link_to(image_tag("img_instagram.png", :alt => "img"), 'https://www.instagram.com' ) %></li>
      <li><%= link_to(image_tag("img_twitter.png", :alt => "img"), 'https://www.twitter.com' ) %></li>
      <li><%= link_to(image_tag("img_facebook.png", :alt => "img"), 'https://www.facebook.com' ) %></li>
      <li><%= link_to(image_tag("img_web.png", :alt => "img"), 'https://www.google.com' ) %></li>
      
    </div>

  </div>

</section><!-- /.sec-footer -->