<section class = "sec-review sec-review-edit">

  <header>
      <%= render "home/nav" %>
  </header>

  <div class = "l-inner">

  <div class = "average">

    <h3 class= 'cmn-ttl'>Write your Review</h3>

    <div class= "form">

      <%= form_with  model: @review do |form| %>
  
        <div class="form-review">
          <%= form.text_field :comment   %><br>
        </div>

        <div id="rating-form"></div>

        <%= form.submit "Post" , class: 'sec-rw-btn rw-write-btn'   %>

      <% end %>

        </div>
        
    </div>

  </div>

</section>

<%= render "home/footer" %>

<!-- JS script for Raty -->
<script>

  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });

</script>