<section class = 'sec-reservation'>

  <header>
      <%= render "home/nav" %>
  </header>

  <div class = 'l-inner'>

    <h2 class = 'cmn-ttl booking-ttl'>Booking Form</h2>

    <div class = 'blk-form2 '>

      <%= form_with  model: @reservation do |form| %>

        <h3> <i class="bx bx-calendar rs-icon-space"></i>CheckIn</h3><%=  params[:check_in] %>
        <%= form.hidden_field:check_in , :value => params[:check_in]  %><br>

        <h3> <i class="bx bx-calendar rs-icon-space"></i>CheckOut</h3><%=  params[:check_out] %><br>
        <%= form.hidden_field:check_out , :value => params[:check_out] %><br>

        <h3> <i class="bx bx-user rs-icon-space"></i>Number of People</h3><%=  params[:num_of_ppl] %><br>
        <%= form.hidden_field :num_of_ppl, min:1, max:10 , :value => params[:num_of_ppl] %><br>

        <%= form.hidden_field :room_id, :value => params[:room_id] %><br><br>

        <%= form.submit "Book now!!" , class: 'common-btn booking-btn' %>
      
      <% end %>

    </div>

  </div>

</section>

<%= render "home/footer" %>